@inherits LayoutComponentBase

<div class="container-fluid d-flex flex-column h-100">

  <div class="row header-row align-items-center">
    <p class="p-0 m-0 pl-2">Digital Solutions Intranet</p>
  </div>

  <div class="row flex-fill overflowScrollX">
    <div class="p-2 contentBody col-12">
      @Body
    </div>
  </div>

  <div class="row footer-row align-items-center">
    <p class="p-0 m-0 pl-2">&copy;2018 Digital Solutions Computer Software UK ltd</p>
  </div>

</div>
